li{
  list-style: none;
  line-height:40px;
}


/*setting section 1*/
.sfondo{
  background-image:url("img/sfondosection1.jpg");
  background-size:cover;
}
.section-one{
  padding:10% 0;
}
.title{
  color:white;
  text-align:left;
}
.title h2{
  margin:70px 0 25px 0;
  font-size:40px;
  font-weight:700;
}
.title p{
  margin:0 0 30px 0;
  font-size:25px;
}

.form-group{
  background-color:white;
  border-radius:5px;
  padding:50px 0 ;
}
.form-group section{
  margin-top:30px;
  line-height:30px;
  font-size:20px;
}
.form-group h2{
  font-size:40px;
  font-weight:700;
}
.form-group section button{
  border-radius:5px;
  border-color:white;
  padding:5px;
  color:black;
  line-height:40px;
  background-color:white;
  font-size:20px;
}
.form-group .Account{
  margin:20px 0;
}
.form-group .terms{
  margin-top:40px;
}
.form-group section button.Account{
  background-color:#15cd72;
  border-color:#15cd72;
  color:white;
}
.terms a{
  color:blue;
}

/*setting section 2*/
.container.icon{
  padding:60px 0;
}
.icon .col-lg-12 a{
  text-decoration:none;
  color:blue;
  font-size:20px;
}
.icon .col-lg-12.link{
  padding:30px 0;
}
.icon img{
  background-size:cover;
  width: 100%;
  padding-left:15%;
  margin-bottom:40px;
  margin-top:20px;
}
/*setting section3*/
.container.deploy{
  padding-bottom:50px;
}
.container.deploy h2{
  color:#031b4e;
  font-size:40px;
  font-weight:700;
  padding:50px 0 25px 0;
}

.container.deploy ul{
padding:50px;
font-size:20px;
}
.container.deploy ul li a{
text-decoration: none;
color:black;
opacity:0.5;
}
.container.deploy ul li a.change-color{
  opacity:1;
}

.container.deploy p{
  color:black;
  opacity:0.7;
  font-size:20px;
  padding-top:10px;
  padding-bottom:30px;

}
